node_modules
.DS_Store
.sass-cache
.parcel-cache
local-data
api/setup/local-config.js
api/setup/local-init.js
api/commands/local.js
scripts/local.js
bundle.js
bundle.js.map
styles.css
styles.css.map
cache/*
!cache/.gitkeep
tmp/*
!tmp/.gitkeep
.env
.env.*
.clinic
.eslintcache
